@font-face {
	font-family: Cygre;
	font-display: swap;
	src: url("../fonts/Cygre-Light.woff2") format("woff2"), url("../fonts/Cygre-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Cygre;
	font-display: swap;
	src: url("../fonts/Cygre-Medium.woff2") format("woff2"), url("../fonts/Cygre-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TenorSans;
	font-display: swap;
	src: url("../fonts/TenorSans-Regular.woff2") format("woff2"), url("../fonts/TenorSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
