.title {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--super-huge {
		font-size: responsive 38px 95px;
		font-range: 576px 1024px;
	}
	&--huge {
		font-size: responsive 55px 90px;
		font-range: 576px 1024px;
	}
	&--big {
		font-size: responsive 40px 55px;
		font-range: 576px 1024px;
	}
	&--large {
		font-size: responsive 30px 40px;
		font-range: 576px 1024px;
	}
	&--medium {
		font-size: responsive 25px 30px;
		font-range: 576px 1024px;
	}
	&--black {
		color: var(--color-balck);
	}
	&--accent {
		color: var(--accent-title);
	}
	&--white {
		color: var(--color-white);
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: 400;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
	margin: 0 0 35px;
}