.title {
	font-family: var(--font-secondary);
	font-style: normal;
	margin: 0;
	&--super-huge {
		font-size: responsive 38px 95px;
		font-range: 576px 1024px;
	}
	&--huge {
		font-size: responsive 50px 70px;
		font-range: 576px 1024px;
	}
	&--big {
		font-size: responsive 56px 64px;
		font-range: 576px 1024px;
	}
	&--large {
		font-size: responsive 36px 50px;
		font-range: 576px 1024px;
	}
	&--pre-large {
		font-size: responsive 25px 35px;
		font-range: 576px 1024px;
	}
	&--medium {
		font-size: responsive 25px 30px;
		font-range: 576px 1024px;
	}
	&--black {
		color: var(--black);
	}
	&--white {
		color: var(--white);
	}
	&--w-regular {
		font-weight: 400;
	}
	&--uppercase {
		text-transform: uppercase;
	}
	&--decor {
		position: relative;
	}
	&--decor::before {
		content: '';
		position: absolute;
		top: -8px;
		right: -8px;
		bottom: -8px;
		left: -10px;
		background-color: transparent;
		border-radius: 20px;
		border: 1px solid var(--gray);
	}
}

.title--indent {
	margin: 0 0 40px;
}