:root {
	--container-width: 1800px;
	--container-width-1600: 1630px;
	--container-padding: 15px;

	--font-main: 'RoobertPRO', sans-serif;

	--page-bg: #fff;
	--text-color: #000;
	--link-color: #2F80ED;

	--accent: #3AAFA9;
	--accent-title: #306CDF;
	--color-green: #03B52B;
	--color-gray: #727171;
	--color-gray-100: #E9E9E9;
	--color-gray-200: #676666;
	--color-gray-300: #5A5757;
	--color-gray-400: #F3F3F3;
	--color-dark: #2C2C2C;
	--color-dark-100: #3F3F3F;
	--color-black: #000000;
	--color-white: #fff;

	--color-invalid: #f30707;
	--color-yellow: #f4aa0a;

	--padding-block-80: 80px 0;
	--padding-block-64: 64px 0;

    --laptop-size: 1199px;
	--tablet-size: 1024px;
	--mobile-size: 768px;

	--hover-time: .250s;
}