.button {
  font-family: var(--font-main);
  font-weight: 300;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  border-radius: 50px;
  padding: 23px;
  z-index: 0;
  outline: var(--color-dark);
  background: transparent;
  transition: background .250s ease, color .250s ease, border .250s ease;
}

.button--primary {
  padding: 23px 42px;
  border: 1px solid transparent;
  background-color: var(--bg-dark);
  color: var(--white);
  max-width: 407px;
  width: 100%;
}

.button--primary:hover,
.button--primary:target,
.button--primary:focus {
  color: var(--bg-dark);
  border: 1px solid var(--bg-dark);
  background-color: transparent;
}

.button--secondary {
  padding: 23px 42px;
  border: 1px solid transparent;
  background-color: var(--gray-400);
  color: var(--black);
  max-width: 407px;
  width: 100%;
}

.button--secondary:hover,
.button--secondary:target,
.button--secondary:focus {
  border: 1px solid var(--gray-400);
  background-color: transparent;
  color: var(--gray-400);
}

.button--thirty {
  padding: 23px 42px;
  border: 1px solid var(--gray-400);
  background-color: transparent;
  color: var(--gray-400);
  max-width: 407px;
  width: 100%;
}

.button--thirty:hover,
.button--thirty:target,
.button--thirty:focus {
  border: 1px solid transparent;
  background-color: var(--gray-400);
  color: var(--black);
}

.button--fourth {
  padding: 23px 42px;
  border: 1px solid transparent;
  background-color: var(--white);
  color: var(--black);
  max-width: 407px;
  width: 100%;
}

.button--fourth:hover,
.button--fourth:target,
.button--fourth:focus {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.button--five {
  padding: 23px 42px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  max-width: 407px;
  width: 100%;
}

.button--five:hover,
.button--five:target,
.button--five:focus {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid transparent;
}

.button--availability {
  padding: 25px 150px 25px 48px;
  color: var(--color-black);
  border: 2px solid var(--color-dark-100);
  @include to(1500px) {
    padding: 18px 130px 18px 48px;
    font-size: 18px;
  }
  @include mobile {
    padding: 13px 70px 13px 20px;
    font-size: 15px;
    border-width: 1px;
  }
}

.button--availability .button__icon {
  position: absolute;
  top: -2px;
  right: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  background: var(--color-dark);
  transform: translateX(0);
  @include to(1500px) {
    width: 63px;
    height: 63px;
  }
  @include mobile {
    top: 0;
    width: 46px;
    height: 46px;
  }
}

.button--availability .button__phone-icon {
  fill: white;
  width: 37px;
  height: 41px;
  @include to(1500px) {
    width: 30px;
    height: 30px;
  }
  @include mobile {
    width: 20px;
    height: 23px;
  }
}

.button--availability .button__home-icon {
  fill: white;
  width: 49px;
  height: 49px;
  margin-top: -5px;
  @include mobile {
    width: 24px;
    height: 24px;
  }
}

.button--availability:hover .button__icon,
.button--availability:target .button__icon,
.button--availability:focus .button__icon,
.button--availability:active .button__icon {
  animation: horizontal-shaking 0.5s infinite backwards alternate;
}

.button--phone {
  background: #131215;
  height: 67px;
  width: 162px;
}

.button--phone .button__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(0);
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: var(--color-white);
  transition: transform .2s linear;
}

.button--phone:hover,
.button--phone:target,
.button--phone:focus,
.button--phone:active {
  background: var(--color-green);
}

.button--phone:hover .button__icon,
.button--phone:target .button__icon,
.button--phone:focus .button__icon,
.button--phone:active .button__icon {
  transform: translateY(-50%) translateX(96px);
}

.button--catalog {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0;
}

.button--catalog .button__text {
  text-align: left;
  max-width: 180px;
}

.button--catalog .button__pic {
  position: relative;
}

.button--catalog .button__pic-wrap {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.button--catalog .button__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button--catalog .button__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1px;
  right: -7px;
  background-color: #E9E9E9;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.button--catalog .button__arrow-svg {
  fill: #676666;
  width: 14px;
  height: 15px;
}

.button--form {
  font-size: 15px;
  font-weight: 300;
  color: var(--color-white);
  padding: 13px 60px;
  background-color: var(--accent-title);
  border-radius: 4px;
}

.button--form:hover,
.button--form:target,
.button--form:focus {
  opacity: .9;
}