.gallery {
  @include mobile {
    padding: 50px 0;
    background-color: #F0F6FF;
  }
}

.gallery__body {
  position: relative;
}

.gallery__heading {
  display: none;
  font-size: 46px;
  margin-bottom: 48px;
  @include mobile {
    display: block;
  }
}

.gallery__slider-wrap {
  @include mobile {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: var(--container-width);
    width: 100%;
  }
}

.gallery__splide-track.splide__track {
  @include mobile {
    border-radius: 20px;
  }
}

.gallery__text {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  @include mobile {
    //position: static;
    //text-align: center;
    //margin-top: 33px;
    //color: var(--color-black);
    //transform: none;
    bottom: 30px;
  }
}

.gallery__photo {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.gallery__splide-arrows.splide__arrows {
  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
  }
}

.gallery__splide-arrow.splide__arrow {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  opacity: 1;
  height: auto;
  width: auto;
  box-shadow: none;
  @include mobile {
    position: static;
    transform: none;
    padding: 0;
  }
}

.splide__arrow .gallery__arrow-icon {
  fill: var(--color-white);
  height: 30px;
  width: 100%;
  max-width: 177px;
  @include mobile {
    fill: var(--color-black);
    max-width: 92px;
  }
}

.gallery__splide-arrow.gallery__splide-arrow--prev .gallery__arrow-icon {
  transform: rotate(0deg);
}

.gallery__pagination .gallery__pagination-page {
  width: 9px;
  height: 9px;
  margin: 3px 7px;
}

.gallery__pagination .gallery__pagination-page.is-active {
  transform: scale(1);
  opacity: 1;
}