.main-screen {
  padding: 20px 0;
}

.main-screen__column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 100px;
  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
  }
}

.main-screen__subtitle {
  @include mobile {
    margin-top: 40px;
  }
}

.main-screen__title {
  @include mobile {
    font-size: 40px;
    margin-top: 28px;
  }
}

.main-screen__actions {
  gap: 25px;
}

.main-screen__phone,
.main-screen__nav-btn-wrap {
  background-color: #F1F1F1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 56px;
  height: 56px;
  @include mobile {
    width: 40px;
    height: 40px;
  }
}

.main-screen__phone {
  @include mobile {
    display: none;
  }
}

.main-screen__info-center {
  border-bottom: 11px solid #F0F6FF;
  @include mobile {
    border-width: 7px;
  }
}

.main-screen__header,
.main-screen__bottom {
  width: 100%;
}

.main-screen__bottom {
  @include mobile {
    display: none;
  }
}

.main-screen__pic {
  border-radius: 20px;
  overflow: hidden;
}

.main-screen__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-screen__mobile-action {
  display: none;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: var(--color-black);
  padding: 10px 13px 10px 28px;
  background-color: #F7F9FB;
  border-radius: 16px;
  max-width: 172px;
  margin: 0 auto 40px;
  @include mobile {
    display: inline-block;
  }
}