.mobile-nav {
	display: block;
	padding: 24px 0;
	position: relative;
	width: 100%;
	@include mobile {
		padding: 12px 0;
	}
}

.mobile-nav__menu {
	position: fixed;
	right: -100%;
	width: 100%;
	max-width: 375px;
	height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
	padding-bottom: 40px;
	transition: right 0.2s ease-in;
	overflow-y: auto;
	top: 0;
	box-shadow: 1px 0px 5px 0px;
	@include mobile {
		top: 83px;
	}
	@include mobileXS {
		max-width: 100%;
	}
}

.mobile-nav__menu.is-open {
	right: 0;
}

.mobile-nav__logo {
	position: relative;
	z-index: 10;
}

.header-top__menu-list {
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	padding: 30px 32px 32px 30px;
}