.steps {
	padding-top: 100px;
}

.steps__item {
	padding: 90px 50px;
	border-radius: 20px;
	width: 100%;
}

.steps__item-icon {
	max-width: 150px;
	height: 59px;
}

.steps__item-title {
	margin-top: 40px;
}

.steps__item-text {
	margin-top: 25px;
	line-height: 38px;
}